# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Otros archivos
.env
.env.local
.env.*.local
.cache
*.pdf
*.docx
*.xlsx
Catalogo OMNILIFE 2025.pdf
Catalogo SEYTÚ 2025.pdf
Listado Productos.docx
Logo-Vitalidad_Blanco.png
Logo-Vitalidad_Mesa de trabajo 1.png

