.footer{
    background: var(--purple);
    color: var(--white);
    padding: 2rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-info{
    text-align: start;
}

.footer-image{
    width: min(100%, 25rem);
    padding: 3rem;
    img{
        width: 100%;
    }
}

.footer-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    svg:hover{
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .footer{
        flex-direction: row;
        flex: 1;
    }
    .footer-info{
        text-align: start;
    }
}