:root {
  --trendy-pink-50  : #faf8fc;  
  --trendy-pink-100 : #f4f0f7;
  --trendy-pink-200 : #ebe3f1;
  --trendy-pink-300 : #dccce6;
  --trendy-pink-400 : #c4abd5;
  --trendy-pink-500 : #ad8ac2;
  --trendy-pink-600 : #8d62a7;
  --trendy-pink-700 : #805a96;
  --trendy-pink-800 : #6c4d7c;
  --trendy-pink-900 : #583f64;
  --trendy-pink-950 : #3a2546;

  --white: #fffffe;
  --black: #2b2c34;
  --purple: #6246ea;
  --gray: #d1d1e9;
  --red: #e45858;
}

.root{
  background-color: var(--white);
}

/*-------------------------------Global Elements-----------------------------------*/
.btn-primary {
    color: var(--white);
    background-color: var(--purple);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    border: none;
}

.btn-primary:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--white);
    color: var(--purple);
    border: 2px solid var(--purple);
}

.btn-primary:active {
    background-color: var(--gray);
}